body {
    font-family : "Kalam", sans-serif;
    font-weight : normal;
    font-style  : normal;
    font-size   : 20px;
    background-color: #1D1D1D;
    /*background: linear-gradient(to bottom right, #000000, #333333);*/
    background-size:100% 100%;
    color: white;
}

.mono {
    font-family : "Roboto Mono", monospace;
    font-weight : normal;
    font-style  : normal;
}

.center-align-container {
   width      : 100%;
   text-align : center;
}

.myCanvas {
   display    : inline;
   border     : 0;
   margin-top : 10px;
}

a:link, a:visited, a:hover, a:active {
    text-decoration: none;
}

